{
  "swagger": "2.0",
  "info": {
    "title": "EasyWeek Partner API",
    "version": "1.0",
    "license": {
      "name": "Awescode GmbH",
      "url": "https://easyweek.com.ua/datenschutz.html"
    },
    "contact": {
      "name": "Yevhen Lisovenko",
      "url": "https://easyweek.io/biz/",
      "email": "admin@easyweek.io"
    },
    "termsOfService": "https://easyweek.com.ua/terms.html",
    "description": "This is public API for EasyWeek partners."
  },
  "host": "widget.easyweek.io",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/bookings/widgets/company/{companySlug}/type/external": {
      "parameters": [
        {
          "type": "string",
          "name": "companySlug",
          "in": "path",
          "required": true,
          "description": "The slug of the main company in EasyWeek."
        }
      ],
      "get": {
        "summary": "Get Company Config",
        "tags": [],
        "operationId": "get-company-config",
        "description": "Retrieve the config of the company with the matching company slug.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "description": "",
              "type": "object"
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "Authorization",
            "description": "Bearer {EASYWEEK_PARTNER_TOKEN}",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "company": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "slug": {
                          "type": "string",
                          "minLength": 1
                        },
                        "show_service_end_time": {
                          "type": "boolean"
                        },
                        "is_copyrighted": {
                          "type": "boolean"
                        },
                        "is_company_rating": {
                          "type": "boolean"
                        },
                        "is_user_rating": {
                          "type": "boolean"
                        },
                        "country": {
                          "type": "string",
                          "minLength": 1
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "required": [],
                            "properties": {}
                          }
                        },
                        "profile": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "company_type": {
                              "type": "string",
                              "minLength": 1
                            },
                            "currency": {
                              "type": "string",
                              "minLength": 1
                            },
                            "phone": {
                              "type": "array",
                              "items": {
                                "required": [],
                                "properties": {}
                              }
                            },
                            "timezone": {
                              "type": "string",
                              "minLength": 1
                            },
                            "locale": {
                              "type": "string",
                              "minLength": 1
                            },
                            "language": {
                              "type": "string",
                              "minLength": 1
                            },
                            "industry": {
                              "type": "string",
                              "minLength": 1
                            },
                            "description": {
                              "type": "string",
                              "minLength": 1
                            },
                            "instagram": {
                              "type": "string",
                              "minLength": 1
                            },
                            "facebook": {
                              "type": "string",
                              "minLength": 1
                            },
                            "whatsapp": {},
                            "viber": {
                              "type": "string",
                              "minLength": 1
                            },
                            "telegram": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "id",
                            "company_type",
                            "currency",
                            "phone",
                            "timezone",
                            "locale",
                            "language",
                            "industry",
                            "description",
                            "instagram",
                            "facebook",
                            "viber",
                            "telegram"
                          ]
                        },
                        "about": {
                          "type": "string",
                          "minLength": 1
                        },
                        "public": {
                          "type": "boolean"
                        },
                        "is_address_hidden": {
                          "type": "boolean"
                        },
                        "calendar": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "config": {
                              "type": "object",
                              "properties": {
                                "duration": {
                                  "type": "number"
                                },
                                "timezone": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "working_days": {
                                  "type": "array",
                                  "items": {
                                    "required": [],
                                    "properties": {}
                                  }
                                },
                                "working_dates": {
                                  "type": "array",
                                  "items": {
                                    "required": [],
                                    "properties": {}
                                  }
                                },
                                "working_hours": {
                                  "type": "array",
                                  "items": {
                                    "required": [],
                                    "properties": {
                                      "0": {
                                        "type": "array",
                                        "uniqueItems": true,
                                        "items": {
                                          "required": [],
                                          "properties": {}
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "required": [
                                "duration",
                                "timezone",
                                "working_days",
                                "working_dates",
                                "working_hours"
                              ]
                            },
                            "type": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "id",
                            "config",
                            "type"
                          ]
                        },
                        "users": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "id",
                              "name",
                              "avatar",
                              "position",
                              "hide_position"
                            ],
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "avatar": {
                                "type": "string",
                                "minLength": 1
                              },
                              "position": {
                                "type": "string",
                                "minLength": 1
                              },
                              "hide_position": {
                                "type": "boolean"
                              },
                              "role": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "priority": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "description": {},
                                  "default_new": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "id",
                                  "priority",
                                  "name",
                                  "default_new"
                                ]
                              },
                              "profile": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "first_name": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "last_name": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "sex": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "phone": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "position": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "description": {}
                                },
                                "required": [
                                  "id",
                                  "first_name",
                                  "last_name",
                                  "sex",
                                  "phone",
                                  "position"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "slug",
                        "show_service_end_time",
                        "is_copyrighted",
                        "is_company_rating",
                        "is_user_rating",
                        "country",
                        "images",
                        "profile",
                        "about",
                        "public",
                        "is_address_hidden",
                        "calendar",
                        "users"
                      ]
                    },
                    "config": {
                      "type": "object",
                      "properties": {
                        "style": {
                          "type": "object",
                          "properties": {
                            "primary": {
                              "type": "string",
                              "minLength": 1
                            },
                            "surface": {
                              "type": "string",
                              "minLength": 1
                            },
                            "secondary": {
                              "type": "string",
                              "minLength": 1
                            },
                            "on-primary": {
                              "type": "string",
                              "minLength": 1
                            },
                            "on-surface": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "primary",
                            "surface",
                            "secondary",
                            "on-primary",
                            "on-surface"
                          ]
                        },
                        "contactForm": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "name",
                              "type",
                              "required"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "style",
                        "contactForm"
                      ]
                    },
                    "branches": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "name",
                          "slug",
                          "is_copyrighted",
                          "is_company_rating",
                          "is_user_rating",
                          "country",
                          "about",
                          "public",
                          "is_address_hidden",
                          "duration",
                          "timezone"
                        ],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1
                          },
                          "show_service_end_time": {},
                          "is_copyrighted": {
                            "type": "boolean"
                          },
                          "is_company_rating": {
                            "type": "boolean"
                          },
                          "is_user_rating": {
                            "type": "boolean"
                          },
                          "country": {
                            "type": "string",
                            "minLength": 1
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "address_1": {},
                              "city": {
                                "type": "string",
                                "minLength": 1
                              },
                              "postal_code": {},
                              "apt": {},
                              "position": {
                                "type": "object",
                                "properties": {
                                  "lat": {
                                    "type": "number"
                                  },
                                  "lng": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "lat",
                                  "lng"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "city",
                              "position"
                            ]
                          },
                          "profile": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "company_type": {
                                "type": "string",
                                "minLength": 1
                              },
                              "currency": {
                                "type": "string",
                                "minLength": 1
                              },
                              "phone": {
                                "type": "array",
                                "items": {
                                  "required": [],
                                  "properties": {}
                                }
                              },
                              "timezone": {
                                "type": "string",
                                "minLength": 1
                              },
                              "locale": {
                                "type": "string",
                                "minLength": 1
                              },
                              "language": {
                                "type": "string",
                                "minLength": 1
                              },
                              "industry": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {
                                "type": "string",
                                "minLength": 1
                              },
                              "instagram": {},
                              "facebook": {},
                              "whatsapp": {},
                              "viber": {},
                              "telegram": {}
                            },
                            "required": [
                              "id",
                              "company_type",
                              "currency",
                              "phone",
                              "timezone",
                              "locale",
                              "language",
                              "industry",
                              "description"
                            ]
                          },
                          "about": {
                            "type": "string",
                            "minLength": 1
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "is_address_hidden": {
                            "type": "boolean"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "timezone": {
                            "type": "string",
                            "minLength": 1
                          },
                          "working_days": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          },
                          "working_dates": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          },
                          "working_hours": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {
                                "0": {
                                  "type": "array",
                                  "uniqueItems": true,
                                  "items": {
                                    "required": [],
                                    "properties": {}
                                  }
                                }
                              }
                            }
                          },
                          "products": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "id"
                              ],
                              "properties": {
                                "id": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "calendar": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "config": {
                                "type": "object",
                                "properties": {
                                  "duration": {
                                    "type": "number"
                                  },
                                  "timezone": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "working_days": {
                                    "type": "array",
                                    "items": {
                                      "required": [],
                                      "properties": {}
                                    }
                                  },
                                  "working_dates": {
                                    "type": "array",
                                    "items": {
                                      "required": [],
                                      "properties": {}
                                    }
                                  },
                                  "working_hours": {
                                    "type": "array",
                                    "items": {
                                      "required": [],
                                      "properties": {
                                        "0": {
                                          "type": "array",
                                          "uniqueItems": true,
                                          "items": {
                                            "required": [],
                                            "properties": {}
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "duration",
                                  "timezone",
                                  "working_days",
                                  "working_dates",
                                  "working_hours"
                                ]
                              },
                              "type": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "id",
                              "config",
                              "type"
                            ]
                          },
                          "schedule": {
                            "type": "object",
                            "properties": {
                              "days": {
                                "type": "object",
                                "properties": {
                                  "fri": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                      "required": [
                                        "to",
                                        "from"
                                      ],
                                      "properties": {
                                        "to": {
                                          "type": "string",
                                          "minLength": 1
                                        },
                                        "from": {
                                          "type": "string",
                                          "minLength": 1
                                        }
                                      }
                                    }
                                  },
                                  "mon": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                      "required": [
                                        "to",
                                        "from"
                                      ],
                                      "properties": {
                                        "to": {
                                          "type": "string",
                                          "minLength": 1
                                        },
                                        "from": {
                                          "type": "string",
                                          "minLength": 1
                                        }
                                      }
                                    }
                                  },
                                  "sat": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                      "required": [
                                        "to",
                                        "from"
                                      ],
                                      "properties": {
                                        "to": {
                                          "type": "string",
                                          "minLength": 1
                                        },
                                        "from": {
                                          "type": "string",
                                          "minLength": 1
                                        }
                                      }
                                    }
                                  },
                                  "sun": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                      "required": [
                                        "to",
                                        "from"
                                      ],
                                      "properties": {
                                        "to": {
                                          "type": "string",
                                          "minLength": 1
                                        },
                                        "from": {
                                          "type": "string",
                                          "minLength": 1
                                        }
                                      }
                                    }
                                  },
                                  "thu": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                      "required": [
                                        "to",
                                        "from"
                                      ],
                                      "properties": {
                                        "to": {
                                          "type": "string",
                                          "minLength": 1
                                        },
                                        "from": {
                                          "type": "string",
                                          "minLength": 1
                                        }
                                      }
                                    }
                                  },
                                  "tue": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                      "required": [
                                        "to",
                                        "from"
                                      ],
                                      "properties": {
                                        "to": {
                                          "type": "string",
                                          "minLength": 1
                                        },
                                        "from": {
                                          "type": "string",
                                          "minLength": 1
                                        }
                                      }
                                    }
                                  },
                                  "wed": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                      "required": [
                                        "to",
                                        "from"
                                      ],
                                      "properties": {
                                        "to": {
                                          "type": "string",
                                          "minLength": 1
                                        },
                                        "from": {
                                          "type": "string",
                                          "minLength": 1
                                        }
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "fri",
                                  "mon",
                                  "sat",
                                  "sun",
                                  "thu",
                                  "tue",
                                  "wed"
                                ]
                              }
                            },
                            "required": [
                              "days"
                            ]
                          }
                        }
                      }
                    },
                    "products": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "name",
                          "price",
                          "price_formatted"
                        ],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "price": {
                            "type": "string",
                            "minLength": 1
                          },
                          "price_formatted": {
                            "type": "string",
                            "minLength": 1
                          },
                          "variations": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "id",
                                "name",
                                "price",
                                "price_formatted",
                                "price_discount",
                                "duration",
                                "is_duration_hidden",
                                "is_price_hidden",
                                "live",
                                "starting_at",
                                "is_top"
                              ],
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "price": {
                                  "type": "number"
                                },
                                "price_formatted": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "price_discount": {
                                  "type": "number"
                                },
                                "price_discount_formatted": {},
                                "currency": {},
                                "duration": {
                                  "type": "number"
                                },
                                "is_duration_hidden": {
                                  "type": "boolean"
                                },
                                "is_price_hidden": {
                                  "type": "boolean"
                                },
                                "description": {},
                                "live": {
                                  "type": "boolean"
                                },
                                "starting_at": {
                                  "type": "boolean"
                                },
                                "is_top": {
                                  "type": "boolean"
                                },
                                "related_products": {
                                  "type": "array",
                                  "items": {
                                    "required": [],
                                    "properties": {}
                                  }
                                },
                                "images": {
                                  "type": "array",
                                  "items": {
                                    "required": [],
                                    "properties": {}
                                  }
                                }
                              }
                            }
                          },
                          "categories": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "id",
                                "name"
                              ],
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "users": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "name",
                          "avatar",
                          "position",
                          "hide_position"
                        ],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "avatar": {
                            "type": "string",
                            "minLength": 1
                          },
                          "position": {
                            "type": "string",
                            "minLength": 1
                          },
                          "hide_position": {
                            "type": "boolean"
                          },
                          "profile": {
                            "type": "object",
                            "properties": {
                              "first_name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "last_name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "position": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {}
                            },
                            "required": [
                              "first_name",
                              "last_name",
                              "position"
                            ]
                          }
                        }
                      }
                    },
                    "subscription": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "url",
                    "company",
                    "config",
                    "branches",
                    "products",
                    "users",
                    "subscription"
                  ]
                }
              },
              "required": [
                "data"
              ]
            }
          }
        }
      }
    },
    "/bookings/company/{companySlug}/employees/dates": {
      "get": {
        "summary": "Get Next Available Dates of Users",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "required": [
                      "branch_id"
                    ],
                    "properties": {
                      "branch_id": {
                        "type": "number"
                      },
                      "dates": {
                        "type": "array",
                        "uniqueItems": true,
                        "minItems": 1,
                        "items": {
                          "required": [
                            "date"
                          ],
                          "properties": {
                            "date": {
                              "type": "string",
                              "minLength": 1
                            },
                            "time": {
                              "type": "object",
                              "properties": {
                                "start": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "end": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "start",
                                "end"
                              ]
                            },
                            "users": {
                              "type": "array",
                              "uniqueItems": true,
                              "minItems": 1,
                              "items": {
                                "required": [
                                  "id"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ]
            }
          }
        },
        "operationId": "get-employees-dates",
        "description": "Get all available date slots for service and location.",
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "Authorization",
            "description": "Bearer {EASYWEEK_PARTNER_TOKEN}",
            "required": true
          },
          {
            "type": "number",
            "in": "query",
            "name": "service",
            "description": "Service ID",
            "required": true
          },
          {
            "type": "number",
            "in": "query",
            "name": "location",
            "description": "Location ID",
            "required": true
          }
        ]
      },
      "parameters": [
        {
          "type": "string",
          "name": "companySlug",
          "in": "path",
          "required": true
        }
      ]
    },
    "/bookings/company/{companySlug}/calendars": {
      "get": {
        "summary": "Get Available Date Slots",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "today": {
                      "type": "string",
                      "minLength": 1
                    },
                    "format": {
                      "type": "string",
                      "minLength": 1
                    },
                    "availability_timezone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "days": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "date"
                        ],
                        "properties": {
                          "date": {
                            "type": "string",
                            "minLength": 1
                          },
                          "spots": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "start",
                                "end"
                              ],
                              "properties": {
                                "start": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "end": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "today",
                    "format",
                    "availability_timezone",
                    "days"
                  ]
                }
              },
              "required": [
                "data"
              ]
            }
          }
        },
        "operationId": "get-available-slots",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "range_start",
            "description": "Filter by start date ",
            "required": true
          },
          {
            "type": "string",
            "in": "query",
            "name": "range_end",
            "description": "Filter by end date",
            "required": true
          },
          {
            "type": "string",
            "in": "query",
            "name": "service",
            "description": "Service ID",
            "required": true
          },
          {
            "type": "string",
            "in": "query",
            "name": "branch",
            "description": "Location ID",
            "required": true
          },
          {
            "type": "string",
            "in": "query",
            "name": "user",
            "description": "User ID",
            "required": true
          },
          {
            "type": "string",
            "in": "header",
            "name": "Authorization",
            "description": "Bearer {EASYWEEK_PARTNER_TOKEN}",
            "required": true
          }
        ],
        "description": "Show all available date slots for user and service."
      },
      "parameters": []
    },
    "/bookings/company/{companySlug}/book": {
      "parameters": [
        {
          "type": "string",
          "name": "companySlug",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "",
        "operationId": "post-bookings-company-companySlug-book",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {},
  "basePath": "/api/v1/",
  "securityDefinitions": {}
}